@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #000 !important; /* or your input text color */
  box-shadow: 0 0 0px 1000px white inset !important; /* match your background */
}

#Vector {
  fill: #000;
}

#logo:hover #Vector {
  fill: #b58800;
}

.box-shadow {
  box-shadow:
    0px 3px 8px #3333480d,
    0px 0px 1px #0c1a4b3d;
}

@media (min-width: 640px) {
  .box-shadow {
    box-shadow:
      0px 3px 8px #3333480d,
      0px 0px 1px #0c1a4b3d;
  }
}

@media (max-width: 640px) {
  .hidden-box-shadow-on-mobile {
    box-shadow:
      0px 0px 0px #3333480d,
      0px 0px 0px #0c1a4b3d !important;
  }
}

.leaflet-bottom.leaflet-right {
  display: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
